.y 2013/05/11　サークル設立、『First FISH』 リリース
.z
  | はじめまして、サークル「13FISH Recordings」のFISHの方、さしみと申します。
    このサークルは僕とsaik氏による「音楽素人の、音楽素人による、音楽素人のためのサークル」です。
    作曲に興味があるけれど知識・技術がないので出来ませんといった方々に、サークルの活動を通じて
    「こんな素人でも音楽を作って良いんだ」ということを伝えていけたらなぁと思います。
.z
  | 結成のきっかけとなったのは今年1月のある日、saik氏が何気なく発した言葉でした。
    「同人音楽サークル作ろうず」　
    …ええ、これだけですとも。多分世の中で一番適当なきっかけだと思います。
    僕は当時、作曲経験が殆ど無かった(midiで遊んでみた程度)にもかかわらず、興味本位でその誘いに乗りました。
    こういうのを無謀っていうんでしょうね。しかし、OKを出した以上は最善を尽くさなければならない。
    大急ぎでソフトを買い揃え、作曲について解説しているサイトを巡り、なんとか曲らしきものを作ることが出来ました。
    一方のsaik氏はというと、色々な事が重なって作業が遅れ、締め切りギリギリになって曲を仕上げたそうです。
    せめて最初くらい余裕を持って締め切りを迎えたかったですね。
    一年の計は元旦にありと言いますが、最初からこんなグダグダでいいんでしょうか。前途多難な気がします。
.z
  | さて、サークル設立の話はそこまでにしてリリースの方の話。
    最初の更新に合わせて13FISH Recordings 1stアルバム『First FISH』をリリースしました。
    内容は僕とsaik氏が3曲ずつ、それにゲストの411さん、gomaさん、aruさんにそれぞれ1曲ずつお願いしました。
    ジャンルとかコンセプトとかイメージとかが全く感じられないアルバムとなっております。
    心に浮かんだ音をそのまま打ち込んでいた結果、このようなスタイルになってしまったわけですが、
    だからこそ全ての曲にその作曲者らしさが出たんじゃないかなぁと思います。
    特にゲストの方々の曲は個性的で魅力に溢れ、素晴らしい出来となっております。
.z
  | 『First FISH』の詳しい情報は「Works」からアルバム名をクリック、あるいは下のリンクからどうぞ。
  p
    a href="/works/first_fish/index.html" [FISH-0001] First FISH
.z
  | 
    最後に、これからの活動の方針について。
    繰り返し書いているように、このサークルは素人による急造集団です。
    少しでも技術を向上させ、より良い音楽を作っていきたいと考えていますので、
    時間の許す限り曲を制作し、それをコンスタントに発表していきたいと思います。
    しばらくは拙い楽曲がリリースされ続けるとは思いますが、生温かい目で見守って頂けたら幸いです。
