/Copyright (C) 2013-2016 13FISH Recordings All Rights Reserved.
.y 2013/11/23　よしおEP締め切りのお知らせ
.z
  | みかんの箱買いは冬の風物詩、さしみです。こたつとみかんで引きこもｒ…作曲がはかどりますね。
    そんなどうでもいい話はさておき、本題。
    遅くなりましたが、よしおEPを締め切らせていただきました。
    素晴らしいよしおをありがとうございました。
    リリースは11月末～12月初旬頃を予定しております。
    ご応募いただいた楽曲は、ただいま(saik氏が)マスタリング中ですので、もうしばらくお待ちください。
