/Copyright (C) 2013-2016 13FISH Recordings All Rights Reserved.
.y 2013/07/04　ゲスト参加まとめ
.z
  | 初めて更新情報とか書きます。　さいくです。
    ここ１ヶ月で２つほど企画に参加したので、
    この場を借りて紹介させていただこうと思います。
.z
  | まず、１つ目ですが僕が所属しているHITNECK RECORDSのほうの企画で、
    HITNECK RECORDS初の単曲EPとなる『Rock the Ground 2013 EP』に参加させていただきました。
    この企画はHITNECK RECORDSの『TWISTED BASTARDZ』に収録されていたNIZIKAWAさんの『Rock the Ground』を、
    いつものHITNECKクルー＋豪華ゲストにより様々なジャンルにリミックスしようというものです。
    どれもこれもものすっごいクオリティーで、本当にやばいＥＰですのでみなさんぜひダウンロードをお願いします！
    今回僕はHITOTABAという名義で６曲目に参加させていただきました。
    楽曲のほうは、ハードスタイル？ハードコア？見たいな感じです。原曲クラッシュしてます。
    楽曲の中にはNIZIKAWAさんの『Nemesis』の要素とかも混ぜさせていただきました。
    この曲は作ってすっごい楽しかったです。
    最後になりましたが、様々な、いわタイプサウンド　存分に味わってください。
  p
    | サイト：
    a href="http://hitneck.web.fc2.com/?album=hnep-0001" target="_blank"
      | http://hitneck.web.fc2.com/?album=hnep-0001
  p
    | soundcloud：
    a href="https://soundcloud.com/hitneck-records/hnep0001" target="_blank"
      | https://soundcloud.com/hitneck-records/hnep0001
.z
  | ２つ目ですが、『紅葉は木に咲く花のように』という留め金さん企画の
    東方プロジェクトの『フォールオブフォール　～秋めく滝』オンリーのアレンジ企画で、
    HITNECK RECORDS主催のRYUWAVEさんの紹介で参加させていただきました。
    初めての、東方アレンジです！前々から東方アレンジをやってみたいとおもっていたので、
    今回この様な機会を与えていただき本当にRYUWAVE主催には感謝いたしております。
    どの曲もフォールオブフォールらしさをとどめた中でハードコアとかブレイクコアとかピアノなど、
    いろいろなジャンルになっており、とても高いクオリティーな曲ばかりです。
    僕は６曲目で319名義で参加させていただきました。
    楽曲のほうですが、『ピアノ初心者でもひけるように、出来るだけシンプルに！かつオリジナルなアレンジに』
    を心がけほぼピアノのみ（少し雰囲気欲しかったのでPadだけ少し入れました）で作りました。
    個人的にはなかなかおもしろいアレンジになったかと思います。
    よかったら聞いていただけるとうれしいです！
    こちらの企画ですが、6/30に行なわれた東方椰麟祭にて頒布されました。
    ご購入いただいた方はありがとうございます！
  p
    | サイト：
    a href="http://milkclip.web.fc2.com/momiji/index.html" target="_blank"
      | http://milkclip.web.fc2.com/momiji/index.html
  p
    | soundcloud:
    a href="https://soundcloud.com/tomegane06/xfd-3" target="_blank"
      | https://soundcloud.com/tomegane06/xfd-3
.z
  | 曲紹介のほうは以上です！
    長くなってしまいましたが見ていただきありがとうございました。
    そうだ、なんか・・・よしおＥＰやるらしいです。
    ゲスト募集してます。やっていただける方がいたら、好きな回転寿司チェーン点を添えてメールお願いします。
    入ってみたいとかもあったら、好きな回転寿ryを添えてメールをお願いします
    どちらも特に審査等はありません。ただ、回転寿司チェーン店によっては落ちるかもしれません。
