/Copyright (C) 2013-2016 13FISH Recordings All Rights Reserved.
.y 2013/09/26　新メンバー加入のお知らせ
.z
  | 最近、台風が次々に日本にきてますね。さいくです。僕のところにもテストの嵐が来ました。
    今までテストさんのせいで曲をかけませんでしたが、再試も回避して曲をかけそうでよかったです・・・
    数式とか書きたくないですからね・・・
.z
  | そんなわけで、さしみ君と２人でやってきた13FISHについに新メンバーが加わったのでサイトのほうで告知さしていただきたいとおもいます！
    今回加わる事になったのは,僕の所属しているHITNECK RECORDSの先輩であり大学の先輩でもあるgomaさん（以後ごまさん）です！
    ごまさんはミニマル・ノイズ・エレクトロニカなどを得意とし、とても切れのあるサウンドを繰り広げるクリエイターです。
.z
  | 家族がふえるよ！　やったねたえちゃん！
    これでアルバムリリース時の僕の負担が負担がへry・・・
.z
  | そんな理由抜きにしても個人的にですがごまさんが入ってくれて本当にうれしくおもっています。
    というのも自分にとってごまさんは、同人活動を始めるきっかけを与えてくれ、
    現在所属しているHITNECK RECORDSへ加入させていただくきっかけであるゲスト参加の話を僕に振ってくれた人物だからです。
    13FISH Recordings 初のアルバム『First FISH』でもゲストとして力を貸していただきました。
    それ以外にもたくさんごまさんには日頃よりとてもお世話になっています。
    そんなごまさんと、ともに活動していける事をうれしくおもいます！
    今後ともよろしくお願いします!
.z
  | それとごまさん　お誕生日おめでとうございます!!

