.y 2013/05/18　Procyon [Original Mix]　公開など
.z
  | 先ほど夕食を作ろうと冷蔵庫を開けたところ、飲み物と調味料しか入っておらず愕然としました。さしみです。
    新曲　Procyon [Original Mix]　を公開しました。
    Worksの単曲リリース一覧(mp3)より試聴&amp;ダウンロードできますので良かったらどうぞ。
.z
  | スペースが大量に余っているので曲について少しだけコメントしようかと思います。
    曲名のプロキオンとはこいぬ座の1等星で、シリウス・ベテルギウスと共に冬の大三角を形成する星のことです。
    当初はそんな冬空に輝く一点の光のイメージで作り始めたのですが、
    迷走に迷走を重ね、最終的には何をイメージしたのかよく分からない曲になってしまいました。
    星のイメージで作ろうとした名残はイントロのPad音とベル音によく表れていると思います。
    (その後のシンセメロがそのイメージをぶち壊してしまっていますが…)
.z
  | イメージはぼやけてしまったこの曲ですが、最初のブレイク部分は比較的良い感じに出来たんじゃないかなーと思っております。
    まだまだ自分のイメージ通りに曲を作れず迷走しておりますが、
    もっと練習をしてイメージを形にする技術を身につけたいです。
    あと最後におまけ。実はこの曲の前にFirst FISH Tr.02のRadio Editを公開していました。
    twitterでは宣伝しましたが、こちらではまだでしたので一応。
