.y 2016/05/11　『Second FISH』リリース
.z
  | 個人的にはあちこちで活動しておりましたが、こちらではお久しぶりです。さしみです。
    本日5月11日は、13FISH Recordingsの設立記念日でございます。
    おかげさまでこのサークルも3周年を迎えることが出来ました。
    これも応援してくださった皆様のおかげです。
    本当にありがとうございます。
.z
  | さて、そんな設立記念日の今日、新しいアルバムをリリースいたします。
    そのタイトルは『Second FISH』　
    そう、13FISH Recordingsの処女作『First FISH』の続編でございます。
    前作のコンセプト、
  blockquote
    | ジャンルや曲調といった概念に囚われず、各々の心に浮かんだ音をありのままに表現する
  | はそのままに、よりパワーアップした作品を目指しました。
    今回お呼びしたゲストは衝撃の11人!!　
    全15曲の超豪華アルバムになりました。
    『Second FISH』は下記のリンク、またはWorksから試聴・ダウンロード可能です。
  p
    a href="/works/second_fish/index.html" [FISH-0006] Second FISH
.z
  | クロスフェード動画をニコニコ動画に上げましたので、
    そちらも合わせてご覧ください。
  p
    a href="http://www.nicovideo.jp/watch/sm28824983" target="_blank"
      | 【Free ALBUM】 Second FISH 【Xfade Demo】
.z
  | せっかくですので、アルバムについて少しだけ語りたいと思います。
    今回の企画は、サークル設立3周年ということで、原点回帰を意識したものです。
    3年ほど活動をしておりますと、良い意味でも悪い意味でも「慣れ」てきます。
    活動開始当初と比べると、スムーズに楽曲を作れるようになった反面、
    無難な曲をリリースすることも多くなったのではないか?　
    サークルの活動コンセプトの一つである「自分だけの音を伝える」ことを忘れてしまったのではないか?　
    そんな思いから本企画はスタートしました。
.z
  | 『Second FISH』を前作以上に多彩で味のある作品にするためには、
    13FISHメンバーだけでは不十分でした。
    まだ見ぬ新しい「味」をもつ魅力的な作曲者の方々に参加していただくことで、
    この作品は真に完成するのではないかと考えました。
    そこで今回は、メンバーがそれぞれ「この人の持ち味はすごい」と思う人にお願いする形でゲスト参加を募りました。
    その結果、11人という過去最多の方が集まってくださいました。
    こうして15人による13FISH Recordings史上最強 (かもしれない) アルバムが制作されました。
.z
  | 今回私がマスタリング担当だったことから、一番最初に『Second FISH』を聴く機会を得ました。
    一通り聴いて感じたことは、
    各作曲者の持ち味がありのままに表現されているのに不思議な調和がある、
    ということでした。
    前作『First FISH』では、各々の心に浮かんだ音をありのままに表現した結果、
    アルバムとしてのまとまりが欠けていました。
    しかし、今回は前回同様ジャンルも曲調もバラバラなのに、どこか一体感がありました。
    全員のベクトルが違う方向を向いているからこそ、
    全体のバランスが取れている。
    そんな風に思えました。
.z
  | 残念ながら、私の文章力ではこの絶妙なバランス感を文章でお伝え出来ません。
    なので、まずは聴いて下さい。
    そして何も考えず、作品を感じて下さい。
    もし、私と同じ感想を抱いてくださったのなら、これほど嬉しいことはありません。
.z
  | 柄にもなく長文を書きました。
    次回からはいつもの適当な文章のさしみに戻ります。
    そう遠くないうちに次のお知らせをできるよう活動していきますので、
    今後とも13FISH Recordingsをよろしくお願いします。
