.zz
  p ――川は枝分かれ、個々終着点へ
  | 「元は同じところから流れていても、途中で違う場所に行くことになる」
    って、誰かが言っていたけど声の聞こえる方見ても姿が見えない。
    ただ鷹が大きな木の方向に飛んで行ったのが見えただけだった。なんだったのだろうか?
    13FISHメンバー (さしみ・goma・SSA) + ゲスト (Itsuki・isz・Negative Headphone・S-mily・Xiba)
    合わせて計８名でRemixのアレンジのRemixする試みに挑戦!
    個々のアレンジ力はいかに!?
