/Copyright (C) 2013-2016 13FISH Recordings All Rights Reserved.
.zz
  p ――始まりを告げる9つの調べ
  | 記念すべき13FISH Recordings 最初のリリース『First FISH』
    ジャンルや曲調といった概念に囚われず、各々の心に浮かんだ音をありのままに表現しました。
    好き勝手に曲を作ってしまったため、アルバムとしてのまとまり感にかけてしまったのは内緒。
    ゲストに411, goma, aruを迎え、全9曲でお届けする13FISH Recordings 始まりの調べ――
