/Copyright (C) 2013-2016 13FISH Recordings All Rights Reserved.
.zz
  p ――あなたの背後に這いよる花粉症
  | 花粉症の苦しみと怒りを形にしたテクノ。
    Heuschnupfenはドイツ語で花粉症のこと。
    重厚なビートで花粉など吹き飛ばせ!
    13FISHメンバー+ゲストАутумн леавесさんによる楽曲は、
    南国ドラムンベース、癒し系テクノ、原曲探しプログレッシブハウス、カットアップガバなど盛りだくさん!
    思えばこの企画が開始された時にはぐぬぬと花粉症に苦しまれてきましたが、あら不思議!
    気づけばえらく時間が経過した感が!
    これは花粉症による幻覚なのか……くそう花粉症め……
  br
  | そんな時は音楽を聞いて良い気分になるというはいかがでしょうか――
