/Copyright (C) 2013-2016 13FISH Recordings All Rights Reserved.
.zz
  p ――再起動を告げる15の調べ
  | 13FISH Recordings 最初のリリース『First FISH』から3年。
    ひとつの節目を迎えた今、フレッシュな再出発をしたい!!
    ということで、今回は原点回帰、『First FISH』の続編です。
    各々の心に浮かんだ音をありのままに表現するという自由なコンセプトはそのまま、
    より多彩なラインナップを目指しました。
    いつもの13FISHメンバー4人に加えて、過去最多となる11人のゲストを迎え、
    全15曲でお届けする13FISH Recordings 再起動の調べ――
