/Copyright (C) 2013-2016 13FISH Recordings All Rights Reserved.
.zz
  p ――俺が、俺たちが、よしおだ!!
  | 13FISH Recordings 2枚目のアルバムは、自身初の単曲EPである『YOSHIO EP』
    YOSHIO☆SHURAI / saik を13FISHメンバー+公募合格者の方々でリミックスしました。
    ジャンルも雰囲気も違う5曲のよしお。
    まさによしおこれくしょん、よしこれです。
    これを聴いてLet's YOSHIO!
